@import './footer';

@mixin set-margin($direction, $value){
    margin-#{$direction}: $value;
}

body {
    color: lightblue;
}
$txt-color: orange;

.content {
    background-color: red;
    .title {
        font-size: 24px;
        color: $txt-color;
        display: block;
        background-color: skyblue;
    }
    .title-lg {
        font-size: 32px;
        @extend .title;
    }
    .title-md {
        font-size: 28px;
        @extend .title;
    }
    .title-sm {
        font-size: 16px;
        @extend .title;
    }
    @include set-margin(right, 16px)
}

